<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\Dirsa\Documents\NetBeansProjects\AdminLMS\dist\AdminLMS.jar</jar>
  <outfile>C:\Users\Dirsa\Documents\NetBeansProjects\AdminLMS\dist\AdminLMS.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>true</restartOnCrash>
  <manifest></manifest>
  <icon>D:\library-128px.ico</icon>
  <jre>
    <path>jre1.8.0_31</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion>1.4.0</minVersion>
    <maxVersion></maxVersion>
  </jre>
</launch4jConfig>